body{
    overflow: none;
  -ms-overflow-style:none;
    padding-bottom: 0;
    /*background: url('https://lazygeniuslanz.github.io/img/parallax3.png') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
    background-color: white;
}
::-webkit-scrollbar-thumb {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}

.navbackground{
    background: url('https://lazygeniuslanz.github.io/img/parallax2.png') no-repeat fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    min-height: 30vh;
    padding: 5vh;

    clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 calc(95% - 6vw) /* left bottom */
  );
}

.scrollbar{
    position: fixed; 
    height: 30%;
    width: 0.8%; 
    left: 20px; 
    top: 35%;    
    z-index: 1000;
    opacity: 0.8;
}

.scrollbar-bar{
    width: 100%;
}

.intro{
    min-height: 70vh;
    padding: 5vh 8vh 0 8vh;
}

.page{
    min-height: 70vh;
}

.content{
    min-height: 20vh;
}

.works-container{
    background: url('https://lazygeniuslanz.github.io/img/parallax2.png') no-repeat fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    
    position: relative;
    display: block;
    padding: 5vh 0 5vh 0;
    
    transition: 0.5s background ease-in;
}

.works-container::after {
    content: '';
    position: absolute;
    width: 1px;
    border-left: 1px dashed rgba(255, 255, 255, 0.5);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.work{
    padding: 15vh 0 15vh 0;
    opacity: 0.5;
    transition: all 0.4s ease-in;
}

.work:hover{
    opacity: 1;
}


.work-title{
    margin-top: -16%;
}


.no-padding{
    padding: 0 !important;
}



